<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:80/Temporary_Listen_Addresses/ServiceProxyWrapperTests"
        binding="basicHttpBinding" bindingConfiguration="Basic"
        contract="IMockService" name="IMockService" />
    </client>
  </system.serviceModel>
</configuration>